body , button {
	font-family                     : Futura, "Trebuchet MS", Arial, sans-serif;
	font-style                      : normal;
	font-variant                    : normal;
	line-height                     : 23px;
	text-align                      : center ;
	margin-top                      : 50px;
}

a:visited , a:link , a:hover, a:active {
	color							: #111;
	text-decoration					: none;
}
